body {
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}

.header {
    background-color: rgb(179, 245, 125);
    color: black;
    padding: 20px 0;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.main-menu a {
    text-decoration: none;
    color: black
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline;
    margin-right: 20px;
}

.main-menu li:last-child {
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: justify;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;

}
.avatar img{
    width: 50%;
}
.avatar {
    text-align: center;
    background-image: url(images/background1.png);
    background-size: cover;
}
.btn {
    text-decoration: none;
    color: black;
    padding:10px;
    display: inline-block;
}
.btn:hover{
    color:blue;
    border-color: blue;
}
table, td {
    border: 1px solid black;
}